## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0,100),k=80)
print (sample_list_1)

[75, 60, 13, 9, 54, 78, 88, 97, 51, 23, 99, 98, 33, 56, 0, 64, 87, 85, 19, 59, 45, 91, 89, 28, 47, 84, 17, 3, 72, 25, 50, 36, 79, 74, 10, 18, 77, 44, 70, 24, 37, 80, 30, 90, 57, 43, 46, 63, 1, 12, 22, 11, 29, 94, 66, 21, 55, 73, 5, 95, 38, 58, 48, 41, 14, 71, 68, 20, 8, 69, 40, 93, 86, 52, 92, 53, 76, 7, 81, 34]

TypeError: 'list' object is not callable

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1= set(sample_list_1)
print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []

for x in range(80):
  x=random.randint(0, 100)
  sample_list_2.append(x)
print (sample_list_2)

[10, 91, 84, 57, 80, 0, 54, 25, 16, 80, 53, 82, 95, 72, 51, 39, 45, 66, 33, 73, 35, 10, 67, 54, 1, 11, 78, 87, 50, 67, 92, 8, 70, 44, 16, 74, 6, 1, 83, 40, 22, 38, 5, 1, 91, 81, 94, 30, 57, 9, 46, 52, 73, 37, 41, 32, 1, 30, 52, 12, 68, 42, 63, 20, 90, 2, 21, 34, 87, 39, 53, 1, 39, 42, 82, 51, 68, 35, 57, 56]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(set2)
print(len(set2))

{0, 1, 2, 5, 6, 8, 9, 10, 11, 12, 16, 20, 21, 22, 25, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 44, 45, 46, 50, 51, 52, 53, 54, 56, 57, 63, 66, 67, 68, 70, 72, 73, 74, 78, 80, 81, 82, 83, 84, 87, 90, 91, 92, 94, 95}
56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1-set2
print("Present in set1 but not in set2 are", set3)

Present in set1 but not in set2 are {3, 7, 13, 14, 17, 18, 19, 23, 24, 28, 29, 36, 43, 47, 48, 55, 58, 59, 60, 64, 69, 71, 75, 76, 77, 79, 85, 86, 88, 89, 93, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4  = set2-set1
print ("Present in set2 but not in set1 are", set4)

Present in set2 but not in set1 are {32, 2, 35, 67, 6, 39, 42, 16, 82, 83}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print ("Shared elements are", set5)

Shared elements are {0, 1, 5, 8, 9, 10, 11, 12, 20, 21, 22, 25, 30, 33, 34, 37, 38, 40, 41, 44, 45, 46, 50, 51, 52, 53, 54, 56, 57, 63, 66, 68, 70, 72, 73, 74, 78, 80, 81, 84, 87, 90, 91, 92, 94, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
#len(set1)= len(set3)-len(set5)
if len(set1) == len(set3)+len(set5):
  print ("True")
else:
  print ("False")

#len(set2) = len(set4) + len(set5)
if len(set2) == len(set4)+len(set5):
  print ("True")
else:
  print ("False")

True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 =set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set3.update(set5)
set6 = set3

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6:
  print ("True")
else:
  print ("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
set1in2 = set1.issubset(set2)
print(set1in2)
set1in3 = set1.issubset(set3)
print(set1in3)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
agg345 = set3.union(set4,set5)
print(agg345)

agg12 = set1.union(set2)
print(agg12)

if agg12 == agg345:
  print ("True")
else:
  print ("False")

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
set1.pop()
print (set1)

{1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 33, 34, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

smallerset1 = set1 - set_to_remove
print(smallerset1)

{3, 5, 7, 8, 10, 12, 13, 14, 17, 18, 20, 22, 23, 24, 25, 28, 30, 33, 34, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}